<% if(flash && flash.err) { %>
<ul class="alert alert-success">
    <% Object.keys(flash.err).forEach(function(error) { %>
    <li><%- JSON.stringify(flash.err[error]) %></li>
    <% }) %>
</ul>
<% } %>

<form action="/user/create" method="POST" id="sign-up-form" class="form-signin pwd-container" id="sign-up-form">
    <h2 class="form-signin-heading">Members Registration</h2>

    <div class="control-group form-group">
        <input type="text" class="form-control vField" placeholder="your name" name="name">
    </div>

    <div class="control-group form-group">
        <input type="text" class="form-control" placeholder="your title" name="title">
    </div>

    <div class="control-group form-group">
        <input type="text" class="form-control vField" placeholder="email address" name="email">
    </div>

    <div class="control-group form-group">
        <input type="password" class="form-control vField" placeholder="password" name="password" id="password" data-bv-feedbackicons="false">
    </div>

<!--
      <div class="control-group form-group">
        <input type="password" class="form-control vField" placeholder="password confirmation" name="confirmation">
      </div>
-->
  <br />

  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Account"/>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>