<form action="/auth/reset" method="POST" class="form-signin" id="user-password-form">
    <h2> Reset Password </h2>

    <div class="control-group form-group">
        <input type="password" placeholder="Enter your new password" class="form-control vField" name="password">
    </div>
    <div class="control-group form-group">
        <input type="password" class="form-control vField" placeholder="password confirmation" name="confirmation">
    </div>
    <br />
    <input type="submit" value="Proceed" class="btn btn-lg btn-primary btn-block"/>
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>